{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}"/>
        <link rel="canonical" href="{{ page.url(true, true) }}"/>

        {% block stylesheets %}
            {% do assets.addCss('theme://dist/css/app.min.css', 98) %}
        {% endblock %}
        {{ assets.css() }}

    {% endblock head %}
</head>
<body class="{{ page.header.body_classes }}">

<div class="container">
    {% block header %}
        <header class="header">
            <div class="row">
                <a class="header__logo" href="{{ base_url == '' ? '/' : base_url }}">
                    Esmeijer Taxatiebureau
                </a>

                {% include 'partials/navigation.html.twig' %}

                <button class="header__hamburger hamburger hamburger--squeeze hide-for-xlarge float-right" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
                </button>
            </div>
        </header>
    {% endblock %}

    {% block body %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="row">
                <div class="small-24 column">
                    <a class="footer__link" title="Disclaimer" href="">
                        Disclaimer
                    </a>
                    <a class="footer__link" title="Privacy Statement" href="">
                        Privacy Statement
                    </a>

                    <span class="footer__copyright">© Copyright {{ "now"|date("Y") }}</span>
                </div>
            </div>
        </footer>
    {% endblock %}

</div>

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %}
{{ assets.js() }}

</body>
</html>
