<section class="large-intro services">
    <div class="row">
        <div class="small-24 large-18 xlarge-12 column large-centered text-center">
            <h2 class="services__title large-intro__title">{{ page.header.cesis.servicesTitle }}</h2>
            <p class="services__text large-intro__text">{{ page.header.cesis.servicesIntro }}</p>
        </div>
    </div>

    <div class="row">
        <div class="small-24 large-20 xlarge-16 large-centered">
            <div class="small-24 large-12 column">
                <a href="{{ header.cesis.servicesBlock1.buttonLink }}" title="{{ header.cesis.servicesBlock1.title }}" class="contentBlock">
                    <h3 class="h4 contentBlock__title">{{ header.cesis.servicesBlock1.title }}</h3>
                    <p class="contentBlock__text">{{ header.cesis.servicesBlock1.text }}</p>
                    <span class="contentBlock__readMore">{{ header.cesis.servicesBlock1.buttonText }}</span>
                </a>
            </div>

            <div class="small-24 large-12 column">
                <a href="{{ header.cesis.servicesBlock2.buttonLink }}" title="{{ header.cesis.servicesBlock2.title }}" class="contentBlock">
                    <h3 class="h4 contentBlock__title">{{ header.cesis.servicesBlock2.title }}</h3>
                    <p class="contentBlock__text">{{ header.cesis.servicesBlock2.text }}</p>
                    <span class="contentBlock__readMore">{{ header.cesis.servicesBlock2.buttonText }}</span>
                </a>
            </div>
        </div>
    </div>
</section>