<section class="steps">
    <div class="row">
        <div class="small-24 large-20 large-centered xlarge-18 xlarge-centered">
            <div class="small-24 medium-12 column">
                <div class="steps__step">
                    <span class="steps__icon">1</span>

                    <div class="steps__content">
                        <h3 class="steps__title">{{ header.cesis.step1.title }}</h3>
                        <p class="steps__text">{{ header.cesis.step1.text }}</p>
                    </div>
                </div>
            </div>

            <div class="small-24 medium-12 column">
                <div class="steps__step">
                    <span class="steps__icon">2</span>

                    <div class="steps__content">
                        <h3 class="steps__title">{{ header.cesis.step2.title }}</h3>
                        <p class="steps__text">{{ header.cesis.step2.text }}</p>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="small-24 medium-12 column">
                <div class="steps__step">
                    <span class="steps__icon">3</span>

                    <div class="steps__content">
                        <h3 class="steps__title">{{ header.cesis.step3.title }}</h3>
                        <p class="steps__text">{{ header.cesis.step3.text }}</p>
                    </div>
                </div>
            </div>

            <div class="small-24 medium-12 column">
                <div class="steps__step">
                    <span class="steps__icon">4</span>

                    <div class="steps__content">
                        <h3 class="steps__title">{{ header.cesis.step4.title }}</h3>
                        <p class="steps__text">{{ header.cesis.step4.text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>